
logs
*.log
npm-debug.log*
node_modules/
dist/

src-tauri/target/

src-tauri/gen/
src-tauri/bundle/

.DS_Store
Thumbs.db
Desktop.ini

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea/
*.sublime-project
*.sublime-workspace